.App {
  display: flex;
  flex-direction: column;
}

.content-small {
  border: 1px solid black;
  height: 150px;
  margin: 20px;
}

.content-large {
  border: 1px solid black;
  height: 250px;
  margin: 20px;
}

.button {
  padding: 10px;
}

.stopwatch-content {
  padding: 10px;
}

.main-content {
  padding: 10px;
}
